$white:white;
$black:black;
$black2:#212224;
$black3:#2f3032;
$dark:#101112;
$grey1:#e9e9e9;
$grey2:#e3e3e4;
$red1:#fc4626;
$red2:#FC5B3F;
$gantari:"Gantari", sans-serif;
$valera:"Varela Round", sans-serif;
$slabo:"Slabo 27px", serif;
$layout-breakpoint-small:960px;
$layout-breakpoint-x-small:400px;
$layout-breakpoint-medium:1200px;