@import 'utilities';


.investment-type-widget{
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 1em;
    background-color: rgba(0,0,0,.3);
    border-radius: 1em;
    max-width: 20em;

    @media (max-width: $layout-breakpoint-small) {
     
       
    }
    @media (max-width: $layout-breakpoint-medium) {
          
    }
    @media (max-width: $layout-breakpoint-x-small) {
     min-width: 100%;
    }
}

.invest-type-widget-header{
    padding: 1em;
}
.invest-type-widget-header p{
    font-size: 1.5em;
    margin: 0;
}
.invest-type-widget-content{
    display: flex;
    flex-direction: column;
    gap: 1em;

}
.investment-type-list{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    gap: .5em;
    padding: .5em;
    border-radius: .5em;
    transition: all 500ms;
}


.investment-type-list:hover{
    background-color: rgb(36, 35, 39);
    cursor: pointer;
}

.investment-type-list> div{
    display: flex;
    justify-content:start;
    flex-direction: column;
   
}
.investment-type-list img{
    max-height: 4em;
    

}
.investment-type-list p:first-child{
    margin: 0;
    font-size: 1.5em;
    
}
.investment-type-list p:last-child{
    margin: 0;
    font-size: 1.2em;
   // margin-bottom: .5em;
}