@import '../../../../stylesheets/utilities';

.add-card{
    display: flex;
    flex-direction: column;
    padding: 2em;
    
    border-left:black solid 1px;
    @media (max-width: $layout-breakpoint-small) {
       padding: 1em;
    }
    @media (max-width: $layout-breakpoint-medium) {
          
    }
    @media (max-width: $layout-breakpoint-x-small) {
 border: 0;
 padding: .5em;;
    }
input{
    font-size: 1.4em;
    padding: .5em;
    border: 0;
    border-radius: .3em;
}

}

.add-card-form-wrapper{
display: flex;
justify-content: start;

padding: .5em;
}

.add-card-form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    @media (max-width: $layout-breakpoint-small) {
        width: 100%;
     }
     @media (max-width: $layout-breakpoint-medium) {
           
     }
     @media (max-width: $layout-breakpoint-x-small) {
 
     }
}

.card-textbox{

   display: flex;
   flex-direction: column;

}
.card-textbox-group{
    display: flex;
    justify-content: space-between;
    gap: .5em;
    >input{
 max-width: 43%;
    }
}

.expiry-date{
    max-width: 15%;
}
.cvv{
    max-width: 10%;
}

.set-default{
    display: flex;
    justify-content: left;
    align-items: start;
    padding: 1em;
    border: whitesmoke solid 1px;
    border-radius: 1em;
    >label:hover{
        cursor: pointer;
    }
}
.default-checkbox-label{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .2em;
    >p{
        margin: 0;
        font-size: 1.5em;
    }
    >p{
       
        font-size: 1.3em;
    }
}

.add-card-button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;

    >button{
        min-width: 40%;
        padding: .5em 0;
        border-radius: 1em;
        transition: all 100ms;
    }
    >button:hover{
        cursor: pointer;
    }
    >button:first-child{
        background-color: white;
        border: rgb(0, 0, 0) solid 1px;
    }
    >button:first-child:hover{ 
        background-color: rgba($color: #000000, $alpha: 0.8)
    }
    >button:last-child{ 
        background-color: #000000;
        color: white;
        border: white solid 1px;
    }
    >button:last-child:hover{ 
        background-color: rgba($color: #000000, $alpha: 0.9);
        border: rgb(255, 255, 255) solid 1px;
        color: rgb(255, 255, 255);
    }
}

